<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/brands.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/solid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/style.css' %}">

    <!-- CSS block per template page -->
    {% block css %}
    {% endblock %}

</head>
<body>

{% load i18n %}

<!-- Navbar https://code.luasoftware.com/tutorials/bootstrap/bootstrap-4-navbar-toggle-without-javascript/ -->
<nav class="navbar navbar-expand-md navbar-light bg-light">

    <a class="navbar-brand" href="/"><i class="fas fa-person-booth"></i> Anon Vote</a>

    <input type="checkbox" id="css-navbar-toggler" class="d-none"/>
    <label for="css-navbar-toggler" class="navbar-toggler" data-toggle="collapse" data-target="#css-navbar-content"
           aria-controls="css-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ml-auto"></span>
    </label>

    <div class="navbar-collapse collapse w-100 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">
                            <i class="fas fa-cog"></i> Administration</a></li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'open_choice_polls:voter-detail' username=user.get_username %}">
                        <i class="fas fa-user-circle"></i> {{ user.get_username }}</a></li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'open_choice_polls:voter-logout' %}">
                        <i class="fas fa-sign-out-alt"></i> Sign out</a></li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'open_choice_polls:voter-enroll' %}">
                        <i class="fas fa-user-edit"></i> Enroll / Sign In</a></li>
            {% endif %}

        </ul>
    </div>
</nav>

<div class="container-fluid">

    {% include "open_choice_polls/messages_snippet.html" %}

    {% block content %}{% endblock %}
</div>

<!-- JavaScript block per template page -->
{% block js %}
{% endblock %}

</body>
</html>