<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/brands.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/solid.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'open_choice_polls/css/bootstrap.min.css' %}">

    <!-- CSS block per template page -->
    {% block css %}
    {% endblock %}

</head>
<body>

{% load i18n %}

<!-- Navbar https://code.luasoftware.com/tutorials/bootstrap/bootstrap-4-navbar-toggle-without-javascript/ -->
<nav class="navbar navbar-expand-md navbar-light bg-light">

    <a class="navbar-brand" href="/"><i class="fas fa-person-booth"></i></a>
    <input type="checkbox" id="css-navbar-toggler" class="d-none"/>
    <label for="css-navbar-toggler" class="navbar-toggler" data-toggle="collapse" data-target="#css-navbar-content"
           aria-controls="css-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </label>

    <div class="collapse navbar-collapse" id="css-navbar-content">
        <ul class="navbar-nav">
            <li class="nav-item "><a class="nav-link" href="{% url 'open_choice_polls:question-list' %}">Home</a></li>
            <li class="nav-item "><a class="nav-link" href="{% url 'admin:index' %}">Admin</a></li>
        </ul>
    </div>

</nav>


<div class="container-fluid">
    {% block content %}{% endblock %}
</div>

<!-- JavaScript block per template page -->
{% block js %}
{% endblock %}

</body>
</html>