{% extends "open_choice_polls/base.html" %}
{% load i18n static %}

{% block title %}
    {# Translators: Title on Enroll/Sign In Page #}
    {% trans "Enroll/Sign In" as title %}
    {{ title }}
{% endblock %}

{% block content %}

{#    ToDO(frennkie) review this!#}
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">

                    <div class="card-header">
                        <h5>Sign In / Enroll</h5>
                    </div>

                    <div class="card-body">

                        {% if form.errors and not form.non_field_errors %}
                            <p class="errornote">
                                Please correct the errors below.
                                {{ form.errors }}
                            </p>
                        {% endif %}

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <p class="errornote">
                                    {{ error }}
                                </p>
                            {% endfor %}
                        {% endif %}


                        {% if user.is_authenticated %}
                            <p class="errornote">

                                You are authenticated as {{ username }}, but are not authorized to
                                access this page. Would you like to login to a different account?

                            </p>
                        {% endif %}


                        <form action="{% url 'open_choice_polls:se-login-user' %}" method="post">
                            {% csrf_token %}

                            {{ form.non_field_errors }}
                            <div class="input-group mb-3">

                                {{ form.username.errors }}
                                {{ form.username }}

                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-lg" type="submit">Next</button>
                                </div>
                            </div>

                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}