{% extends "open_choice_polls/base.html" %}
{% load i18n static %}

{% block title %}
    {# Translators: Title on Enroll / Sign In Page #}
    {% trans "Enroll / Sign In" as title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="container">

        {#       START Error#}
        {% if error_message %}
            <div class="row">
                <div class="col">
                    {% if successful_enrollment %}
                        <div class="card border-success mb-3">
                            <div class="card-body">{{ error_message }}</div>
                        </div>
                    {% else %}
                        <div class="card border-danger mb-3">
                            <div class="card-body">{{ error_message }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if user.is_authenticated and not successful_enrollment %}
            <div class="row">
                <div class="col">
                    <div class="card border-dark mb-3">
                        <div class="card-body">
                            <p class="text-danger">
                                You are authenticated as <strong>{{ user.get_username }}</strong>, but are not
                                authorized
                                to access this page. Would you like to login to a different account?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if form.errors or form.non_field_errors %}
            <div class="row">
                <div class="col">
                    <div class="card border-secondary mb-3">

                        <div class="card-body">

                            Errors (if any..) #TODO

                            {% if form.errors and not form.non_field_errors %}
                                <p class="errornote">
                                    {% if form.errors.items|length == 1 %}
                                        {% trans "Please correct the error below." %}{% else %}
                                        {% trans "Please correct the errors below." %}{% endif %}
                                </p>
                                {#                            {{ form.errors }}#}
                            {% endif %}

                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="errornote">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {#       END Error#}

        {% if not successful_enrollment %}
            <div class="row">
                <div class="col">

                    {% if form_enroll %}
                        <div class="card border-dark mb-3">

                            <div class="card-header bg-warning">
                                <h5>Enroll</h5>
                            </div>

                            <div class="card-body">

                                <form action="{% url 'open_choice_polls:se-login' %}" method="post" id="login-form">
                                    {% csrf_token %}

                                    <div class="form-group row">
                                        <label for="id_enrollment_code"
                                               class="col-sm-3 col-form-label">{{ form_enroll.enrollment_code.label }}</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" required id="id_enrollment_code"
                                                   placeholder="e.g. ABCDE-2345-abcde" autofocus
                                                   name="enrollment_code">
                                        </div>
                                        <div class="text-danger">{{ form_enroll.enrollment_code.errors }}</div>
                                    </div>

                                    {% for hidden_field in form_enroll.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}

                                    <button type="submit" class="btn btn-warning float-right">Enroll</button>
                                </form>

                            </div>
                        </div>
                    {% endif %}


                </div>
            </div>

            <div class="row">
                <div class="col">

                    {% if form_sign_in %}
                        <div class="card border-dark mb-3">

                            <div class="card-header text-white bg-primary">
                                <h5>Sign In (if you enrolled earlier and have a user and password)</h5>
                            </div>
                            <div class="card-body">

                                <form action="{% url 'open_choice_polls:se-login' %}" method="post" id="login-form">
                                    {% csrf_token %}

                                    {% if username %}
                                        <div class="form-group row">
                                            <label for="id_username"
                                                   class="col-sm-3 col-form-label">{{ form_sign_in.username.label }}</label>
                                            <div class="col-sm-9">
                                                <input type="text" readonly class="form-control-plaintext"
                                                       id="id_username"
                                                       placeholder="e.g. anon12345"
                                                       name="username" value="{{ username }}">
                                            </div>
                                            <div class="text-danger">{{ form_sign_in.username.errors }}</div>
                                        </div>
                                    {% else %}
                                        <div class="form-group row">
                                            <label for="id_username"
                                                   class="col-sm-3 col-form-label">{{ form_sign_in.username.label }}</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" required id="id_username"
                                                       placeholder="e.g. anon12345"
                                                       name="username">
                                            </div>
                                            <div class="text-danger">{{ form_sign_in.username.errors }}</div>
                                        </div>
                                    {% endif %}

                                    <div class="form-group row">
                                        <label for="id_password"
                                               class="col-sm-3 col-form-label">{{ form_sign_in.password.label }}</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" required id="id_password"
                                                   placeholder="Password - not the enrollment code!"
                                                   name="password">
                                        </div>
                                        <div class="text-danger">{{ form_sign_in.password.errors }}</div>
                                    </div>

                                    {% for hidden_field in form_sign_in.hidden_fields %}
                                        {{ hidden_field }}
                                    {% endfor %}

                                    <button type="submit" class="btn btn-primary float-right">Sign In</button>
                                </form>

                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}